<nav class="navbar navbar-inverse bg-primary">
      <span class="navbar-brand" href="#">
        <img src="../assets/utdt-logo.jpg" width="50" height="30" alt="" class="d-inline-block align-top"><span>
        Universidad Torcuato Di Tella</span>
      </span>
      <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Federico.Gomez@utdt.com.ar</button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Cuenta</a>
          <a class="dropdown-item" href="#">Salir</a>
        </div>
      </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <app-materias class="col-3 border"></app-materias>
    <app-detalle class="col-4 border" [curso]="curso"></app-detalle>
    <app-calendario class="col-5 border" #curso></app-calendario>
  </div>
  
</div>
